%body
  .border-form-div
    = simple_form_for @post, class: "form-group" do |f|
      .form-group
        = f.input :image, label: "image"
        = f.input :title, label: false, placeholder: "title"
        = f.input :link, label: false, placeholder: "link"
        = f.input :description, label: false, placeholder: "description"
      .form-button
        = f.button :submit, class: "button"


